<div class="card mb-3" style="width: 18rem;">
    <img src="{{ product.image }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="card-title" style="font-weight: bold; font-size: 1.5rem;">
            {{product.price | number_format(0, '', ' ')}} $ 
            {% if product.promo %}
                (<span class="text text-warning"> Promo !</span>)
            {% endif %}
        </div>
        <p class="text text-muted">{{ product.description }}</p>
        <div class="row mb-3">
            {% for c in product.categories %}
                <em class="text text-muted text-primary text-italic">#{{c.name}}</em>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6"><a href="#" class="card-link btn btn-primary w-100"> <i class="fa fa-shopping-cart" aria-hidden="true"></i> Ajouter</a></div>
            <div class="col-md-6"><a href="#" class="card-link btn btn-danger w-100"><i class="fa fa-edit"></i> Editer</a></div>
        </div>
       
        
    </div>
</div>
